doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include layout/styles
        title Personal Portfolio Website 
    //- header
    include layout/header  
    //- About Us
    section.about-us 
        .container
            h2.section-title Who we are
            .content 
                .left-text
                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .right-text 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a(href="#") click here
    //- services
    section.services 
        .container
            .heading 
                h4 Services
                h2  What I Do.. 
            .boxes 
                .box
                    .icon
                        i.fa.fa-gear 
                    .text
                        h4 Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        
                .box
                    .icon
                        i.fa.fa-eye 
                    .text
                        h4 Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        
                .box
                    .icon
                        i.fa.fa-list 
                    .text
                        h4 Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
    //- Profile
    section.profile 
        .heading 
            h4 Profile
            h2  I Make Beautiful Thinks 
        .works 
            .work 
                img(src="/dist/imgs/p1.jpg", alt="")
            .work 
                img(src="/dist/imgs/p2.jpg", alt="")
            .work 
                img(src="/dist/imgs/p3.jpg", alt="")
            .work 
                img(src="/dist/imgs/p4.jpg", alt="")
            .work 
                img(src="/dist/imgs/p5.jpg", alt="")
            .work 
                img(src="/dist/imgs/p6.jpg", alt="")
    //- Client
    section.client 
        .container
            .heading 
                h4 Client
                h2  What I Do.. 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .logos 
                .logo 
                    img(src="/dist/imgs/c1.png", alt="")
                .logo 
                    img(src="/dist/imgs/c2.png", alt="")
                .logo 
                    img(src="/dist/imgs/c3.png", alt="")
                .logo 
                    img(src="/dist/imgs/c4.png", alt="")
    //- Blog
    section.blog 
        .container
            .blog-content
                .box 
                    .heading 
                        h4 Blog 
                        h2 I write Beautiful Thinks
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .box
                    div 
                        span 11 November 
                    div
                        h2 Lorem ipsum dolor 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    
                .box 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    span 11 November 
                .box 
                    span 11 November 
                    h2 Lorem ipsum dolor
                .box 
                    span 11 November 
                    h2 Lorem ipsum dolor
                .box 
                    span 11 November
                    h2 Lorem ipsum dolor 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    //- Contact-us
    section.contact-us
        .container
            .contact
                .left-box
                    .heading 
                        h4 Blog 
                        h2 Address Info
                    .box 
                        .icon
                            i.fa.fa-envelope 
                        .email 
                            h4 Email
                            p  free@psdfreebies.com
                    .box 
                        .icon
                            i.fa.fa-mobile 
                        .phone 
                            h4 Mobile
                            p +123 456 7890
                                <br> +123 456 7890

                    .box 
                        .icon
                            i.fa.fa-location-arrow
                        .adress 
                            h4 Adress
                            p  123, Main Road, New City, My Country 123456
                .right-box
                    .heading
                        h2 Get in Touch
                    form(action="",method="post")
                        .form-control 
                            span Name
                            input(type="text" placeholder="Your Name")
                        .form-control 
                            span Email
                            input(type="text" placeholder="Your Email")
                        .form-control 
                            span Phone
                            input(type="text" placeholder="Your Phone")
                        .form-control 
                            span Adress
                            textarea(name="", cols="30", rows="10", placeholder="Your Adress")
                        .btn 
                            button(type="submit") Submit 
                            
            .social-media
                i.fa.fa-facebook
                i.fa.fa-twitter
                i.fa.fa-google-plus
                i.fa.fa-youtube
                i.fa.fa-linkedin
                i.fa.fa-instagram
            footer 
                p Designed By PSDFreebies.com
                p COPYRIGHT 2017 &copy    
    body 