doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include layout/styles
        title Personal Portfolio Website 
    //- header
    include layout/header  
    //- About Us
    section.about-us 
        .container
            h2.section-title Who we are
            .content 
                .left-text
                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                .right-text 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a(href="#") click here
    //- services
    section.services 
        .container
            .heading 
                h4 Services
                h2  What I Do.. 
            .boxes 
                .box
                    .icon
                        i.fa.fa-gear 
                    .text
                        h4 Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        
                .box
                    .icon
                        i.fa.fa-eye 
                    .text
                        h4 Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        
                .box
                    .icon
                        i.fa.fa-list 
                    .text
                        h4 Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
    //- Profile
    section.profile 
        .heading 
            h4 Profile
            h2  I Make Beautiful Thinks 
        .works 
            .work 
                img(src="/dist/imgs/p1.jpg", alt="")
            .work 
                img(src="/dist/imgs/p2.jpg", alt="")
            .work 
                img(src="/dist/imgs/p3.jpg", alt="")
            .work 
                img(src="/dist/imgs/p4.jpg", alt="")
            .work 
                img(src="/dist/imgs/p5.jpg", alt="")
            .work 
                img(src="/dist/imgs/p6.jpg", alt="")

        
    body 