.scroll{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    text-align: center;
    display: none;
    i{
        font-size: 50px;
        color: #dcdcdc;
        width: 80px;
        height: 80px;
        line-height: 80px;
        cursor: pointer;
        opacity: .3;
        transition: opacity .3s;
        &:hover{
            opacity: 1;
        }
    }

}