.settings-box
    i.fa.fa-gear.toggle-button
    h4 Options
    .settings-options
        h5 Color Options 
        .options
            ul 
                li(data-color="#0081ff")
                li(data-color="#e55039")
                li(data-color="#fa983a")
                li(data-color="#079992")