*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
}
a{
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
h1,h2,h3,h4{
    margin: 0;
}
.section-title{
    font-size: 35px;
    font-family: 'Leckerli One', cursive;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    h4{
        font-size: 25px;
        font-family: 'Leckerli One', cursive;
        margin-bottom: 5px;
    }
    h2{
        font-size: 30px;
    }
}