.services{
    @include paddingTopBottom;
    background-color: #007af3;
    color: #fff;
    .heading{
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        h4{
            font-size: 25px;
            font-family: 'Leckerli One', cursive;
            margin-bottom: 5px;
        }
        h2{
            font-size: 30px;
        }
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
        gap: 20px;
        .box{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            .icon{
                margin-right: 20px;
                i{
                    font-size: 50px;
                }
            }
            .text{
                h4{
                    margin-bottom: 20px;
                }
                p{
                    @extend .paragraph
                }
            }
        }
    }
}